<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body style="background: url('https://w-dog.ru/wallpapers/7/8/296807849523191/the-elder-scrolls-v-bethesda-softworks-skyrim-rolevaya-igra.jpg') no-repeat center;
background-size: cover;
height: 100vh;
">
<style>

    .book_detail__button {
        margin-bottom: 50px;
        column-width: auto;
    }
    .book__img {
        height: 400px;
        object-fit: cover;
    }

</style>

<div style="
color: rgba(84,96,27,0.9);
">
    <div class="container">
        <button type="button" class="btn btn-secondary book_detail__button"><a href="/book/{{ object.id }}/update/">Update {{ object.title }}</a>
        </button>
        <button type="button" class="btn btn-secondary book__button"><a
                href="/book/{{ object.id }}/delete/">Delete {{ object.title }}</a></button>
        <button type="button" class="btn btn-secondary book__button"><a href="/add-book/">add new book</a></button>


    </div>
    <div class="book_detail__button">
        <div class="card">
            <img src="{{ object.image.url }}" class="card-img-top book__image" alt="">
            <div class="card-body body__detail">

                <h2 class="card-title">TITLE: {{ object.title }}</h2>
                <p class="card-text">DESCRIPTION: {{ object.description }} </p>
                <p class="card-text">GENRE: {{ object.genre }}</p>
                <h4 class="card-text">AUTHOR: {{ object.author }}</h4>
                <p class="card-text">{{ object.create_date }}</p>
                <p class="card-text">{{ object.update_date }}</p>
                <div class="card-body">
                    <ul>   {% for i in object.book_comment.all %}
                        <li>
                            <p>{{ i.text }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>


</body>
</html>
